* {
	box-sizing: border-box;
}

.main {
	display: flex;
	font-family: sans-serif;
	background-color: #FAFAFA;
	font-size: 16px;
}

.main-div {
	width: 88%;
	display: flex;
	flex-direction: column;
}

.left-div {
	font-size: 0.75rem;
	width: 12%;
	text-align: left;
	line-height: 18px;
}

.left-div li, a {
	text-decoration: none;
	list-style: none;
	padding: 0 5px;
}

.header {
	text-align: right;
	font-size: 0.75rem;
}

.header li, a{
	text-decoration: none;
	list-style: none;
	display: inline;
}

.footer {
	background-color: #FAFAFA;
}

.content {
	background-color: white;
	width: 100%;
}

.left-div-main, .contribute, .tools, .languages, .print-export {
	padding-bottom: 10px;
}

#content-navbar li, a{
	display: inline;
	list-style: none;
	font-size: .75rem;
}

#grad {
  background-image: linear-gradient(white, #EBF4F9);
	font-size: .75rem;
	padding: 5px;
}

.tablink {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}
/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */

.main-content {
	border: 1px solid #A7D7F9;
}


/* help colors */
/* .header {
	background-color: yellow;
}

.left-div {
	background-color: red;
}

.content {
	background-color: blue;
} */

img{
	width: 75%;
	margin: 0 20px;
}
